.card {
  width: 300px;
  height: 400px;
  justify-self: center;
  align-self: center;
  background-color: #9f0014;
  border-radius: 10px;
}
.card:hover {
  transform: scale(1.15);
}
.card__img {
  display: absolute;
  width: 300px;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: 1.5px double #9f0014;
  outline-offset: -5px;
}

.card__name {
  color: #ffffff;
}

.card__genres {
  color: #ffffff;
}
a:-webkit-any-link {
  color: none;
  text-decoration: none;
}
