.search {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.btn {
  background-color: #010101;
  border: none;
  color: white;
}

.btn:hover {
  background-color: white;
  border: none;
  color: #010101;
}
.input {
  background-color: #010101;
  border: none;
  color: white;
}
